body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 100vvh;
    width: 100vw;
    font-family: 'Skranji', cursive;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
    background-image: url('img/background/game_background_2.png');
}

h1 {
    margin: 0;
}

#helpScreen{
    display: none;
}

#btnScreen{
    display: none;
}

canvas {
    display: none;
    border-radius: 20px;
    z-index: 5;
}

.panelContainer {
    position: absolute;
    bottom: 2px;
    left: 11vw;
    display: none;
    justify-content: space-between;
    width: 75vw;
    margin-top: 10px;
}

.playBtnContainer {
    display: flex;
    justify-content: space-evenly;
    width: 140px;
}

.playBtnContainer button {
    background-color: transparent;
    border-color: transparent;
}

#introContainer{
    display: none;
    height: 480px;
    width: 780px;
    border-radius: 40px;
    z-index: 5;
}

.introImg{
    height: 100%;
    width: 100%;
}

#volume{
    display: none;
}

.playBtnContainer img {
    width: 40px;
    height: 40px;
}

.turnIt {
    display: none;
    position: absolute;
    top: 60%;
    left: 10%;
    color: azure;
    font-size: 40px;
    font-weight: 900;
    z-index: 5;
}


#startScreen {
    position: relative;
    height: 480px;
    width: 780px;
    display: flex;
    justify-content: left;
    align-items: start;
    overflow: hidden;
    background-image: url('img/start_screen.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
}


.btn {
    margin-top: 1%;
    margin-left: 1%;
    cursor: pointer;
    border-color: transparent;
    background-color: transparent;
    width: 180px;
    height: 80px;
}

.btn img{
    border-radius: 20px;
    width: 180px;
    height: 80px;
}

.startImg {
    cursor: pointer;
    height: 480px;
    width: 780px;
    border-radius: 40px;
}


.finishedGame {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 2s ease-in-out;
    transform: scale(1.0);
}

.finGameScreen{
    width: 780px;
    height: 480px;
    border-radius: 40px;
}

.restartBtn {
    width: 200px;
    margin-top: 50px;
    cursor: pointer;
}

/* smartphone */
@media only screen and (max-width: 950px) {
    canvas {
        width: 100vw !important;
        /* height: unset; */
    }

    #startScreen, #helpScreen, #btnScreen, .finishedGame, #introContainer, .startImg, .finGameScreen {
        width: 100vw;
        border-radius: 0;
    }

    .panelContainer {
        display: flex;
    }

    h1 {
        display: none;
    }
}

/* smartphone */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    #startScreen, #helpScreen, #btnScreen, .finishedGame, #introContainer, .startImg, .finGameScreen {
        height: 100vh;
    }

    .panelContainer {
        display: flex;
        margin-top: 2px;
    }

    h1 {
        display: none;
    }
}